<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>La boutique de Sneakers</title>
</head>
<body>

    <a href="{% url 'home' %}">
        <h1> La boutique de Sneakers</h1>
    </a>

        {% if user.is_authenticated %}
            <button>
                <a href="{% url 'index' %}">Articles</a>
            </button>
            <button>
                <a href="{% url 'logout' %}">Déconnexion ({{ user.username }})</a>
            </button>
    {% else %}

    {% endif %}

    {% block content %}
    {% endblock %}


</body>
</html>