{% extends 'base.html' %}

{% block content %}

    {% if user.is_authenticated %}

        {% for product in produits %}

            <a href="{% url 'products' product.slug %}">
                <h2>{{ product.name  }}</h2>
            </a>

            <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" style="max-width: 200px;"><br>

            <!--<a href="{% url 'products' product.slug %}">Détails de l'article</a>! Je remplace cette url par celle du dessous-->
            <!--Je remplace l'url du dessus par l'url en dessous-->
            <a href="{{ product.get_absolute_url }}">Détails de l'article</a>

        {% endfor %}

        {% else %}
            <h2> Désolé, tu n'es pas connecté</h2>
            <button>
                <a href="{% url 'login' %}">Se connecter</a>
            </button>
            <button>
                <a href="{% url 'signup' %}">Inscription</a>
            </button>

    {% endif %}

{% endblock %}